In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
%matplotlib inline

In [2]:
data = pd.read_csv('diabetes.csv')
num_fts = data[['BMI', 'Glucose', 'BloodPressure', 'Insulin']]

In [3]:
from process_data import clean_data

cleaned_df = clean_data(num_fts, data)
cleaned_df.head()

,Pregnancies,DiabetesPedigreeFunction,Age,Outcome,BMI,Glucose,BloodPressure,Insulin
0,6,0.627,50,1,33.6,148.0,72.0,125.0
1,1,0.351,31,0,26.6,85.0,66.0,125.0
2,8,0.672,32,1,23.3,183.0,64.0,125.0
3,1,0.167,21,0,28.1,89.0,66.0,94.0
4,0,2.288,33,1,43.1,137.0,40.0,168.0

In [4]:
from process_data import scale_data

scaled_df = scale_data(cleaned_df)
scaled_df.head()

          0         1         2         3         4         5         6
0  0.639947  0.468492  1.425995  0.166619  0.866045 -0.031990 -0.181541
1 -0.844885 -0.365061 -0.190672 -0.852200 -1.205066 -0.528319 -0.181541
2  1.233880  0.604397 -0.105584 -1.332500  2.016662 -0.693761 -0.181541
3 -0.844885 -0.920763 -1.041549 -0.633881 -1.073567 -0.528319 -0.540642
4 -1.141852  5.484909 -0.020496  1.549303  0.504422 -2.679076  0.316566

## Train/Test split:

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X = scaled_df
y = data['Outcome']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=41)

## Building Mode: Logistic Regression Classifier

In [8]:
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report,confusion_matrix

In [9]:
kfold = model_selection.KFold(n_splits=10, random_state=7, shuffle=True)
model = LogisticRegression(solver='liblinear')
scoring='neg_log_loss'
results = model_selection.cross_val_score(model, X_train, y_train, cv=kfold, scoring=scoring)
print("Logloss: %.3f (%.3f)" % (results.mean(), results.std()))

Logloss: -0.483 (0.059)

In [10]:
reg_model = model.fit(X_train, y_train)

In [11]:
reg_preds = model.predict(X_test)

In [12]:
print(classification_report(y_test,reg_preds))
print('Confusion Matrix: \n', confusion_matrix(y_test,reg_preds))

              precision    recall  f1-score   support

           0       0.78      0.90      0.84        99
           1       0.75      0.55      0.63        55

    accuracy                           0.77       154
   macro avg       0.77      0.72      0.73       154
weighted avg       0.77      0.77      0.76       154

Confusion Matrix:
 [[89 10]
 [25 30]]